.footer {
    background: url('../IMG/footer/footer_bg.png');
    padding: 23px 0 0 0;
    min-height: 200px;
    &__menu {
        padding: 0 10px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__main {
        display: flex;
        align-items: center;
    }
    &__question {
        display: flex;
        align-items: center;
    }
    &__title {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin-left: 43px;
    }
    &__tel {
        display: flex;
        flex-direction: column;
        a {
            color: #fff;
            font-size: 19px;
            font-weight: 700;
            text-decoration: none;
        }
        span {
            color: #fff;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            text-align: right;
        }
    }
    &__links {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__site {
        color: #677177;
        font-size: 13px;
        font-weight: 400;
    }
    &__politics {
        font-size: 13px;
        font-weight: 400;
        a {
            color: $main-color;
        }
    }
    &__link {
        display: flex;
        color: #677177;
        font-size: 13px;
        line-height: 17px;
        // text-align: center;
        align-items: center;
        justify-content: center;
        img {
            padding-left: 8px;
        }
        a {
            text-decoration: none;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .footer {
        &__title {
            font-size: 15px;
            margin-left: 10px;
        }
        &__tel {
            margin-left: 10px;
            a {
                font-size: 15px;
            }
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .footer {
        padding: 23px 0 23px 0;
        &__title {
            margin-top: 15px;
            font-size: 18px;
        }
        &__menu {
            flex-direction: column;
            padding: 0;
        }
        &__main {
            flex-direction: column;
        }
        &__question {
            flex-direction: column;
            margin-top: 15px;
        }
        &__button {
            margin-top: 15px;
            width: 200px;
            margin-left: 0;
        }
        &__tel {
            margin-left: 0;
            span {
                text-align: center;
            }
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .footer {
        &__title {
            font-size: 15px;
        }
        &__links {
            flex-direction: column;
        }
        &__politics {
            margin-top: 15px;
        }
        &__link {
            margin-top: 15px;
        }
    }

}