.map {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../IMG/map/map_bg.png') center;
    min-height: 500px;
    &__wrapper {
        position: absolute;
        right: 35.5%;
        top: 35%;
        padding: 27px 15px 0 53px;
        width: 268px;
        height: 158px;
        background: url('../IMG/map/info_bg.png') no-repeat;
    }
    &__title {
        color: $main-color;
        font-size: 16px;
        font-weight: 700;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
    &__tel {
        color: #3a3a3a;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__email {
        display: block;
        color: $main-color;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
    }
}



@media (max-width: 1370px) {
    .map {
        &__wrapper {
            transform: translateX(10%);
            
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .map {
        &__wrapper {
            transform: translateX(20%);
            
        }
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .map {
        &__wrapper {
            transform: translateX(30%);
            
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .map {
        &__wrapper {
            transform: translateX(38%);
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    // .map {
    //     display: none;
    // }
}