.motivation {
    padding: 50px 0 46px 0;
    &__subtitle {
        text-align: center;
        font-size: 21px;
        line-height: 24px;
        font-weight: 300;

    }
    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 360px);
        column-gap: 30px;
    }
    &__item {
        &-title {
            color: $main-color;
            margin-top: 28px;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            line-height: 22px;
        }
        &-text {
            text-align: center;
            margin-top: 13px;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
        }
    }
}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .motivation {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
        }
        &__item {
            img {
                width: 300px;
            }
        }
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .motivation {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 340px);
            justify-content: center;
        }
        &__item {
            img {
                width: 340px;
            }
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .motivation {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 360px);
            row-gap: 30px;
        }
        &__item {
            img {
                width: 360px;
            }
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .title {
        font-size: 21px;
    }
    .motivation {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
            row-gap: 30px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__item {
            img {
                width: 300px;
            }
        }
    }
}