.title {
    color: #2e2e2e;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    &_fz42 {
        color: #fff;
        font-size: 36px;
        font-weight: 400;
    }
}